<!DOCTYPE html>
<html>
{{ template "_head.html" }}
<body>
<main class="w-100 flex flex-column min-vh-100">
{{ template "_header.html" }}
	<section class="w-100 tc cover flex-auto flex items-center justify-center bg-light-gray" style="background-image: url(../../assets/img/admin.jpg);">
		<div class="w-50">
			<div class="w-100">
				<h1 class="f1 fw8 white">Welcome Admin</h1>
			</div>
			<div class="w-100">
				<a href="/lecturer" class="f5 fw6 bg-washed-blue dib ba b--black-20 ph4 pv3 br2 grow black-80 link pointer">Lecturer</a>
				<a href="/student" class="f5 fw6 bg-green dib ba b--black-20 ph4 pv3 br2 grow link pointer white">Student</a>
				<a href="/transfer" class="f5 fw6 hover-bg-dark-red hover-white bg-yellow dib ba b--black-20 ph4 pv3 br2 grow link pointer blue">Transfer</a>
			</div>
		</div>
	</section>
</main>
</body>
</html>